---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import MainContent from "../../components/MainContent.astro";
import DropListContainer from "../../components/DropListContainer.astro";
import Aside from "../../components/Aside.astro";
import Section from "../../components/Section.astro";
import SellView from "../../components/preact/view/SellView.tsx";
---
<Layout title="App - Inventory">
	<div class="flex items-center justify-center bg-amber-500">
		<Header />
	</div>
    <div class="flex mt-2">
        <MainContent>
            <SellView client:load />
        </MainContent>
	</div>
</Layout>