---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import MainContent from "../../../components/MainContent.astro";
import DropListContainer from "../../../components/DropListContainer.astro";
import DropListItem from "../../../components/DropListItem.astro";
import Aside from "../../../components/Aside.astro";
import Section from "../../../components/Section.astro";
import ProductAddForm from "../../../components/preact/ProductAddForm";

const sections = [
    {label: "Agregar producto", href: "/inventory/add"},
    {label: "Editar producto", href:"/inventory/edit"}
];
---
<Layout title="App - Inventory">
    <div class="flex items-center justify-center bg-amber-500">
		<Header />
	</div>
    <div class="flex mt-2">
		<Aside title="Acciones">
			<DropListContainer label="Producto" open={true}>
				<DropListItem items={sections}></DropListItem>
			</DropListContainer>
		</Aside>
		<MainContent>
            <Section title="Agregar nuevo producto">
                <ProductAddForm client:load />
            </Section>
		</MainContent>
	</div>
</Layout>