---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside.astro';
import DropListContainer from '../components/DropListContainer.astro';
import DropListItem from '../components/DropListItem.astro';
import MainContent from '../components/MainContent.astro';
import Section from '../components/Section.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="App - Home page">
	<div class="flex items-center justify-center bg-amber-500">
		<Header />
	</div>
	<div class="flex mt-2 h-full">
		<Aside>
			<DropListContainer label="Label 1">
				<DropListItem items={[{label: "d", href: "/"}, {label: "d", href: "/"}]}></DropListItem>
			</DropListContainer>
		</Aside>
		<MainContent>
			<Section title="¡Bienvenidos a la aplicación!">
				<div class="mt-5 max-w-2/12 bg-amber-300 rounded-t-lg">
					<span class="block pb-1 font-bold text-lg border-b text-center bg-amber-500 rounded-t-lg border">Enlaces de Interés</span>
					<ul class="border border-t-0 h-full w-full">
						<li class="block w-full"><a class="hover:bg-amber-600/50 hover:border-solid border-b border-hidden block py-1 px-2 w-full" href="/inventory/product">Lista de Productos</a></li>
						<li class="block w-full"><a class="hover:bg-amber-600/50 hover:border-solid  border-y border-hidden block py-1 px-2 w-full" href="/inventory/category">Lista de Categorías</a></li>
						<li class="block w-full"><a class="hover:bg-amber-600/50 hover:border-solid  border-t border-hidden block py-1 px-2 w-full" href="/sell">Ventas</a></li>
					</ul>
				</div>
			</Section>
		</MainContent>
	</div>
</Layout>
