---
interface Props {
    label: string,
    href?: string
}

const { label, href } = Astro.props;
---
<div class="">
    {
        (href) && <a href={href} class="px-2">{label}</a>
    }
    {
        (!href) &&
            <details class="">
                <summary class="font-bold marker:content-none bg-amber-300 px-2 hover:cursor-pointer hover:bg-blue-500 hover:text-white">{label}</summary>
                <slot/>
            </details>
    }
</div>