---
interface Props {
    label: string,
    href?: string,
    open?: boolean
}

const { label, href, open } = Astro.props;
const pathname = Astro.url.pathname;
---
<div class="w-full">
    {
        (href) && <a href={href} class=`font-semibold px-2 w-full block ${(href === pathname) ? "bg-sky-600" : "hover:bg-amber-400"}`>{label}</a>
    }
    {
        (!href) &&
            <details class="" open={(open)}>
                <summary class="font-bold marker:content-none bg-amber-300 px-2 hover:cursor-pointer hover:bg-blue-500 hover:text-white">{label}</summary>
                <slot/>
            </details>
    }
</div>